# Database credentials for the wikipedia replica database.
WIKI_DB_STRING = 'mysql+mysqldb://someuser:somepass@enwiki.analytics.db.svc.eqiad.wmflabs/enwiki_p'

# Database credentials for the wp10 project/application database.
WP10_DB_STRING = 'mysql+mysqldb://someuser:somepass@tools.db.svc.eqiad.wmflabs/youruser_enwp10'

# WMF wiki oauth credentials
API_CREDS = {
  'CONSUMER_TOKEN': 'some_consumer_token',
  'CONSUMER_SECRET': 'some_consumer_secret',
  'ACCESS_TOKEN': 'some_access_token',
  'ACCESS_SECRET': 'some_access_secret',
}