name: wp1-dev
services:
  redis:
    image: redis
    container_name: wp1bot-redis-dev
    ports:
      - 9736:6379
    networks:
      - wp1bot-dev
    restart: always
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      start_period: 1m30s
      interval: 1m
      timeout: 15s
      retries: 10

  dev-database:
    build: docker/dev-db/
    container_name: wp1bot-db-dev
    ports:
      - 6300:3306
    networks:
      - wp1bot-dev
    restart: always

  minio:
    image: minio/minio
    container_name: wp1bot-minio-dev
    ports:
      - '9000:9000' #api
      - '9001:9001' #web console
    environment:
      - MINIO_ROOT_USER=minio_key
      - MINIO_ROOT_PASSWORD=minio_secret
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data
    networks:
      - wp1bot-dev
    restart: always
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:9000/minio/health/live']
      start_period: 30s
      interval: 30s
      timeout: 10s
      retries: 5

  createbuckets:
    image: minio/mc
    container_name: wp1bot-minio-setup
    depends_on:
      minio:
        condition: service_healthy
    networks:
      - wp1bot-dev
    volumes:
      - ./docker/minio/setup-buckets.sh:/setup-buckets.sh
    entrypoint: ['/bin/sh', '/setup-buckets.sh']

  dev-workers:
    build:
      context: .
      dockerfile: docker/dev-workers/Dockerfile
    container_name: wp1bot-workers-dev
    volumes:
      - ./wp1:/usr/src/app/wp1/
      - ./wp1/credentials.py.dev:/usr/src/app/wp1/credentials.py
      - ./log/:/var/log/wp1bot/
    networks:
      - wp1bot-dev
    restart: always
    depends_on:
      redis:
        condition: service_healthy
      dev-database:
        condition: service_started
      minio:
        condition: service_started

  zimfarm-db:
    image: postgres:17.3-bookworm
    container_name: zimarm-postgresdb
    ports:
      - 127.0.0.1:2345:5432
    volumes:
      - zimfarm-data:/var/lib/postgresql/data
      - ./docker/zimfarm/postgres-initdb:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_DB=zimfarm
      - POSTGRES_USER=zimfarm
      - POSTGRES_PASSWORD=zimpass
    healthcheck:
      test: ['CMD', 'pg_isready', '-q', '-d', 'dbname=zimfarm user=zimfarm']
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - wp1bot-dev
    profiles:
      - zimfarm

  zimfarm-api:
    image: ghcr.io/openzim/zimfarm-backend:latest
    container_name: zimfarm-api
    ports:
      - 127.0.0.1:8004:80
    environment:
      BINDING_HOST: 0.0.0.0
      JWT_SECRET: DH8kSxcflUVfNRdkEiJJCn2dOOKI3qfw
      POSTGRES_URI: postgresql+psycopg://zimfarm:zimpass@zimfarm-db:5432/zimfarm
      INIT_USERNAME: admin
      INIT_PASSWORD: admin
      ALLOWED_ORIGINS: http://localhost:8003
      ARTIFACTS_UPLOAD_URI: s3+http://minio:9000/?keyId=minio_key&secretAccessKey=minio_secret&bucketName=org-kiwix-dev-artifacts
      LOGS_UPLOAD_URI: s3+http://minio:9000/?keyId=minio_key&secretAccessKey=minio_secret&bucketName=org-kiwix-dev-logs
      ZIM_UPLOAD_URI: s3+http://minio:9000/?keyId=minio_key&secretAccessKey=minio_secret&bucketName=org-kiwix-dev-zims
    networks:
      - wp1bot-dev
    depends_on:
      zimfarm-db:
        condition: service_healthy
    command:
      - uvicorn
      - zimfarm_backend.main:app
      - --host
      - '0.0.0.0'
      - --port
      - '80'
      - --proxy-headers
      - --forwarded-allow-ips
      - '*'
    profiles:
      - zimfarm

  zimfarm-ui:
    image: ghcr.io/openzim/zimfarm-ui:latest
    container_name: zimfarm-ui
    ports:
      - 127.0.0.1:8003:80
    volumes:
      - ./docker/zimfarm/zimfarm_ui_dev/config.json:/usr/share/nginx/html/config.json:ro
    depends_on:
      zimfarm-api:
        condition: service_healthy
    networks:
      - wp1bot-dev
    profiles:
      - zimfarm

  zimfarm-worker-manager:
    image: ghcr.io/openzim/zimfarm-worker-manager:latest
    container_name: zimfarm-worker-manager
    depends_on:
      zimfarm-api:
        condition: service_healthy
    command: worker-manager --webapi-uri 'http://zimfarm-api:80/v2' --username test_worker --name test_worker
    environment:
      - DEBUG=true
      - TASK_WORKER_IMAGE=ghcr.io/openzim/zimfarm-task-worker:latest
      - ENVIRONMENT=development
      - ZIMFARM_DISK=4Gb
      - ZIMFARM_MEMORY=2Gb
      - ZIMFARM_CPU=1
      - POLL_INTERVAL=10
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./docker/zimfarm/id_ed25519:/etc/ssh/keys/zimfarm
    networks:
      - wp1bot-dev
    profiles:
      - zimfarm-worker

networks:
  wp1bot-dev:

volumes:
  minio-data:
  zimfarm-data:
