openapi: 3.0.0
servers:
  - url: https://api.wp1.openzim.org/v1
    description: Production server HTTPS
  - url: http://api.wp1.openzim.org/v1
    description: Production server HTTP
info:
  description: 'Wikipedia 1.0 is an editing project on Wikipedia. It includes a bot, called the WP 1.0 bot, and a frontend web interface for that bot which lives at https://wp1.openzim.org. This document describes the server that acts as the API backend for that frontend server. Generally speaking, it contains only features which are useful to that frontend. However it is documented here and made available without restriction in the hopes that it may be useful.'
  version: 'v1'
  title: 'WP 1.0 Frontend'
  contact:
    name: 'Travis Briggs'
    email: 'audiodude@gmail.com'
  license:
    name: 'GPL v2 or greater'
    url: 'https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html'
tags:
  - name: Projects
    description: 'WikiProjects that the WP 1.0 bot tracks, and their article ratings.'
  - name: Articles
    description: 'Utilities for linking to articles on Wikipedia.'
  - name: Sites
    description: 'The list of MediaWiki sites that Selections can be built against.'
  - name: Builders
    description: 'Builders are the user-owned specifications that produce Selections (article lists) and ZIM files.'
  - name: Selections
    description: 'Materialized article lists belonging to a Builder.'
  - name: ZIM
    description: 'ZIM file generation via the Zimfarm, and the email notifications for it.'
  - name: OAuth
    description: 'Login/logout via MediaWiki OAuth. Sessions are held in a cookie.'
  - name: Meta
    description: 'Endpoints describing the API itself.'
paths:
  /openapi.yml:
    get:
      summary: 'This OpenAPI document, which is rendered by the swagger-ui frontend hosted at the root of this server.'
      operationId: openapiSpec
      tags:
        - Meta
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/yaml:
              schema:
                type: string
  /articles/redirect:
    get:
      summary: 'Redirect to the given Wikipedia article at the revision that was current at the given timestamp'
      operationId: articleRedirect
      tags:
        - Articles
      responses:
        '302':
          description: 'Successful operation, redirect to the article revision on Wikipedia'
        '404':
          description: 'No revision of that article could be found for that timestamp'
      parameters:
        - name: name
          in: query
          required: true
          description: 'The name of the article, with namespace if required, as it appears on Wikipedia'
          schema:
            type: string
        - name: timestamp
          in: query
          required: true
          description: 'A timestamp like 2020-06-22T10:55:10Z which represents the time of the revision to be redirected to'
          schema:
            type: string
  /projects/:
    get:
      summary: 'List all projects that the WP 1.0 bot updates'
      operationId: listProjects
      tags:
        - Projects
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
  /projects/count:
    get:
      summary: 'Count of the total number of projects'
      operationId: countProjects
      tags:
        - Projects
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
  /projects/assessments:
    get:
      summary: 'The number of assessed and unassessed articles in every project, ordered by number of unassessed articles descending.'
      description: 'This data is expensive to compute and is served from a cache that is warmed by a recurring job, so it may lag behind the ratings tables by up to a day.'
      operationId: projectAssessments
      tags:
        - Projects
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                type: array
                description: 'Each entry is a fixed length triple of [project name, unassessed count, assessed count].'
                items:
                  type: array
                  minItems: 3
                  maxItems: 3
                  items:
                    oneOf:
                      - type: string
                      - type: integer
  /projects/{projectId}:
    get:
      summary: 'Retrieve the entry for a specific project'
      operationId: getProject
      tags:
        - Projects
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          description: 'No project with that projectId was found'
    parameters:
      - name: projectId
        in: path
        required: true
        description: 'The name of the project, with spaces replaced by "_"'
        schema:
          type: string
  /projects/{projectId}/table:
    get:
      summary: 'Data for building a summary table for a given project'
      operationId: projectTable
      tags:
        - Projects
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  table_data:
                    type: object
                    description: 'The various data needed to construct the table'
        '404':
          description: 'No project with that projectId was found'
    parameters:
      - name: projectId
        in: path
        required: true
        description: 'The name of the project, with spaces replaced by "_"'
        schema:
          type: string
  /projects/{projectId}/articles:
    get:
      summary: 'List of articles for a project, optionally filtered by quality/importance'
      description: 'If the projectB parameter is provided, this endpoint instead compares two projects, and each entry of the returned articles array is a two element array of the matching article in project A and project B. If format=tsv is given, the full filtered article list (ignoring page and numRows) is returned as a tab-separated-values download instead of JSON; this is not supported together with projectB.'
      operationId: projectArticles
      tags:
        - Projects
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    properties:
                      page:
                        description: 'The current page of results. This echoes back the page query parameter verbatim, as a string, or is the number 1 if no page was specified.'
                        oneOf:
                          - type: string
                          - type: integer
                      total:
                        type: number
                        description: 'The total number of results for the query'
                      total_pages:
                        type: number
                        description: 'The total number of pages of results, given the current page size'
                      display:
                        type: object
                        properties:
                          start:
                            type: number
                            description: 'The article number at which the returned page of results starts'
                          end:
                            type: number
                            description: 'The article number at which the returned page of results ends'
                          num_rows:
                            type: number
                            description: 'The page size that was applied to this query. Defaults to 100 and is capped at 500.'
                  articles:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/Article'
                        - type: array
                          description: 'Returned when projectB is specified: the article in project A followed by the article in project B.'
                          minItems: 2
                          maxItems: 2
                          items:
                            $ref: '#/components/schemas/Article'
            text/tab-separated-values:
              schema:
                type: string
                description: 'Returned when format=tsv: a TSV document with a header row, containing every article matching the filters (page and numRows are ignored).'
        '400':
          description: 'The page or numRows parameter was either not a number or less than 1, the format parameter was not one of "json" or "tsv", or format=tsv was combined with projectB'
        '404':
          description: 'No project with that projectId (or projectB) was found'
    parameters:
      - name: projectId
        in: path
        required: true
        description: 'The name of the project, with spaces replaced by "_"'
        schema:
          type: string
      - name: quality
        in: query
        required: false
        description: 'The quality class of articles, used to filter the results. Eg: "FA-Class"'
        schema:
          type: string
      - name: importance
        in: query
        required: false
        description: 'The importance class of articles, used to filter the results. Eg: "High-Class"'
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: 'The page to retrieve results starting with. The first page is page 1.'
        schema:
          type: number
      - name: numRows
        in: query
        required: false
        description: 'The number of rows (results) to return. Defaults to 100, values above 500 are clamped to 500.'
        schema:
          type: number
      - name: articlePattern
        in: query
        required: false
        description: 'A string to match the article name against. If the article title is LIKE "%articlePattern%", the article is returned.'
        schema:
          type: string
      - name: format
        in: query
        required: false
        description: 'The response format, either "json" (the default) or "tsv". With "tsv", the full filtered article list is returned as a tab-separated-values download and the page and numRows parameters are ignored. Not supported together with projectB.'
        schema:
          type: string
          enum: [json, tsv]
          default: json
      - name: projectB
        in: query
        required: false
        description: 'The name of a second project to compare against. When given, only articles that appear in both projects are returned, and each entry of the articles array is a two element array.'
        schema:
          type: string
      - name: qualityB
        in: query
        required: false
        description: 'The quality class used to filter the projectB side of a comparison. Ignored unless projectB is given.'
        schema:
          type: string
      - name: importanceB
        in: query
        required: false
        description: 'The importance class used to filter the projectB side of a comparison. Ignored unless projectB is given.'
        schema:
          type: string
  /projects/{projectId}/articles/random:
    get:
      summary: 'Get a random article for a project, optionally filtered by quality/importance'
      operationId: projectRandomArticle
      tags:
        - Projects
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                type: string
                description: 'A URL to the random article on Wikipedia'
        '204':
          description: 'No article could be found matching the given criteria'
        '404':
          description: 'No project with that projectId was found'
      parameters:
        - name: projectId
          in: path
          required: true
          description: 'The name of the project, with spaces replaced by "_"'
          schema:
            type: string
        - name: quality
          in: query
          required: false
          description: 'The quality class of articles, used to filter possible articles. Eg: "FA-Class"'
          schema:
            type: string
        - name: importance
          in: query
          required: false
          description: 'The importance class of articles, used to filter possible articles. Eg: "High-Class"'
          schema:
            type: string
  /projects/{projectId}/category_links:
    get:
      summary: 'Get a mapping of category names (such as "A-Class") to an href on Wikipedia to link to and the text of such a link. The mapping can also be to simply a string which means no link is possible and the string itself should be displayed.'
      operationId: projectCategoryLinks
      tags:
        - Projects
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryLinkMap'
        '404':
          description: 'No project with that projectId was found'
      parameters:
        - name: projectId
          in: path
          required: true
          description: 'The name of the project, with spaces replaced by "_"'
          schema:
            type: string
  /projects/{projectId}/category_links/sorted:
    get:
      summary: 'The same as category_links, but the result is sorted into quality/importance designations.'
      operationId: projectCategoryLinksSorted
      tags:
        - Projects
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  quality:
                    $ref: '#/components/schemas/CategoryLinkMap'
                  importance:
                    $ref: '#/components/schemas/CategoryLinkMap'
        '404':
          description: 'No project with that projectId was found'
      parameters:
        - name: projectId
          in: path
          required: true
          description: 'The name of the project, with spaces replaced by "_"'
          schema:
            type: string
  /projects/{projectId}/update:
    post:
      summary: 'Schedule a manual update of a project. This includes fetching new assessments from Wikipedia, and updating Wikipedia with assessment and log tables. This can only be done once per hour.'
      operationId: projectUpdate
      tags:
        - Projects
      security:
        - sessionCookie: []
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NextUpdateTime'
        '400':
          description: 'The update could not be performed because it is too soon after another update. Check the next_update_time value in the returned response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NextUpdateTime'
        '401':
          description: 'Unauthorized. You must be logged in to perform a project update.'
        '404':
          description: 'No project with that projectId was found'
    parameters:
      - name: projectId
        in: path
        required: true
        description: 'The name of the project, with spaces replaced by "_"'
        schema:
          type: string
  /projects/{projectId}/update/time:
    get:
      summary: 'Get the time at which the given project can next be scheduled for a manual update, or null if the project is currently eligible for a manual update.'
      operationId: projectNextUpdateTime
      tags:
        - Projects
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NextUpdateTime'
        '404':
          description: 'No project with that projectId was found'
    parameters:
      - name: projectId
        in: path
        required: true
        description: 'The name of the project, with spaces replaced by "_"'
        schema:
          type: string
  /projects/{projectId}/update/progress:
    get:
      summary: 'Get the status/progress of a manual update job. If there is no manual update job, or if its status has expired, the "queue" and "job" keys will have null values.'
      operationId: projectUpdateProgress
      tags:
        - Projects
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  queue:
                    type: object
                    nullable: true
                    properties:
                      status:
                        type: string
                        description: 'One of "queued", "started" or "finished" based on the state of the manual update in the job queue'
                      ended_at:
                        type: string
                        description: 'A datetime string representing when this job finished. Only available if the status key has a value of "finished"'
                  job:
                    type: object
                    nullable: true
                    description: 'The progress of the update job, or null if no progress has been reported.'
                    properties:
                      progress:
                        type: integer
                        description: 'An abstract number representing the amount of progress that has been made on a manual update job'
                      total:
                        type: integer
                        description: 'An abstract number representing the total amount of progress that must be made for this job to be considered complete. Note that it is considered reasonable for the progress number to reach a value higher than this total.'
        '404':
          description: 'No project with that projectId was found'
    parameters:
      - name: projectId
        in: path
        required: true
        description: 'The name of the project, with spaces replaced by "_"'
        schema:
          type: string
  /sites/:
    get:
      summary: 'Get lists of mediawiki projects through mediawiki API'
      operationId: getWikiProjects
      tags:
        - Sites
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  sites:
                    type: array
                    items:
                      type: string
  /builders/:
    post:
      summary: 'Save a new Builder, validating it first and returning invalid items if they exist'
      operationId: createBuilder
      tags:
        - Builders
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuilderSpec'
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateListResponse'
        '400':
          description: 'The request was missing a name, project, model or params, or the model could not be resolved.'
        '401':
          description: 'Unauthorized. You must be logged in to save a list.'
  /builders/{builderId}:
    get:
      summary: 'Return the builder with the given id'
      operationId: getBuilder
      tags:
        - Builders
      security:
        - sessionCookie: []
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuilderSpec'
        '401':
          description: 'Unauthorized. You must be logged in.'
        '403':
          description: 'The logged in user does not own the given Builder.'
        '404':
          description: 'Not found. No Builder with the given ID exists.'
      parameters:
        - name: builderId
          in: path
          required: true
          description: 'The id of the Builder to retrieve.'
          schema:
            type: string
    post:
      summary: 'Update the Builder with the given id'
      operationId: updateBuilder
      tags:
        - Builders
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuilderSpec'
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateListResponse'
        '400':
          description: 'The request was missing a name, project, model or params, or the model could not be resolved.'
        '401':
          description: 'Unauthorized. You must be logged in to update a Builder.'
        '403':
          description: 'The logged in user does not own the given Builder.'
        '404':
          description: 'Not found. No Builder with the given ID exists.'
      parameters:
        - name: builderId
          in: path
          required: true
          description: 'The id of the builder to update.'
          schema:
            type: string
  /builders/{builderId}/delete-impact:
    get:
      summary: 'Describe what else would be deleted or changed if the given Builder were deleted.'
      description: 'Combinator Builders can reference other Builders. This endpoint reports which Combinators reference this Builder, and which of them would be deleted outright because this Builder is their only remaining input.'
      operationId: builderDeleteImpact
      tags:
        - Builders
      security:
        - sessionCookie: []
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  builder:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      project:
                        type: string
                      model:
                        type: string
                  affected_combinators:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        project:
                          type: string
                        referenced_in:
                          type: string
                          description: 'The param of the Combinator that references the Builder being deleted.'
                        remaining_include_builder_count:
                          type: integer
                          description: 'How many input Builders this Combinator would have left after the deletion.'
                        will_be_auto_deleted:
                          type: boolean
                          description: 'True when the Combinator would be deleted along with this Builder, because it would have no inputs left.'
        '401':
          description: 'Unauthorized. You must be logged in.'
        '403':
          description: 'The logged in user does not own the given Builder.'
        '404':
          description: 'No Builder with the given ID exists.'
      parameters:
        - name: builderId
          in: path
          required: true
          description: 'The id of the Builder that would be deleted.'
          schema:
            type: string
  /builders/{builderId}/delete:
    post:
      summary: 'Delete a Builder, its Selections and its ZIM files.'
      operationId: deleteBuilder
      tags:
        - Builders
      security:
        - sessionCookie: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                confirm_builder_name:
                  type: string
                  description: 'The name of the Builder, which must be provided and match when the deletion would cascade to Combinators. See /builders/{builderId}/delete-impact.'
                delete_combinator_ids:
                  type: array
                  description: 'The ids of the Combinator Builders that the caller has agreed to delete along with this one.'
                  items:
                    type: string
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: 'Always the string "204".'
        '400':
          description: 'delete_combinator_ids was not an array of strings, or the confirmation of the Builder name was missing or did not match.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessages'
        '401':
          description: 'Unauthorized. You must be logged in.'
        '403':
          description: 'The logged in user does not own the given Builder.'
        '404':
          description: 'No Builder with the given ID exists.'
        '500':
          description: 'The Builder could not be deleted from the database.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessages'
      parameters:
        - name: builderId
          in: path
          required: true
          description: 'The id of the Builder to delete.'
          schema:
            type: string
  /builders/{builderId}/selection/latest.{ext}:
    get:
      summary: 'Return a redirect to the Selection (latest materialization) of the given Builder in the given format.'
      operationId: getBuilderSelectionLatest
      tags:
        - Selections
      responses:
        '302':
          description: 'Successful operation, redirect to the Selection in the s3-like storage.'
        '404':
          description: 'No Selection with that extension exists for that Builder.'
      parameters:
        - name: builderId
          in: path
          required: true
          description: 'The id of the Builder whose latest Selection should be retrieved.'
          schema:
            type: string
        - name: ext
          in: path
          required: true
          description: 'The requested extension of the Selection list to be redirected to. One of "tsv" or "xls".'
          schema:
            type: string
            enum: ['tsv', 'xls']
  /builders/{builderId}/selection/zimfarm/latest.{ext}:
    get:
      summary: 'The same as selection/latest.{ext}, but redirects to the URL that the Zimfarm uses to fetch the Selection.'
      operationId: getBuilderZimfarmSelectionLatest
      tags:
        - Selections
      responses:
        '302':
          description: 'Successful operation, redirect to the Selection in the s3-like storage.'
        '404':
          description: 'No Selection with that extension exists for that Builder.'
      parameters:
        - name: builderId
          in: path
          required: true
          description: 'The id of the Builder whose latest Selection should be retrieved.'
          schema:
            type: string
        - name: ext
          in: path
          required: true
          description: 'The requested extension of the Selection list to be redirected to. One of "tsv" or "xls".'
          schema:
            type: string
            enum: ['tsv', 'xls']
  /builders/{builderId}/selection/latest/article_count:
    get:
      summary: 'The number of articles in the latest Selection of a Builder, and the maximum number that can be turned into a ZIM file.'
      operationId: getBuilderSelectionArticleCount
      tags:
        - Selections
      security:
        - sessionCookie: []
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  selection:
                    type: object
                    properties:
                      id:
                        type: string
                      article_count:
                        type: integer
                        nullable: true
                      max_article_count:
                        type: integer
                        description: 'The maximum number of articles the Zimfarm will accept for a single ZIM file.'
        '401':
          description: 'Unauthorized. You must be logged in.'
        '403':
          description: 'The logged in user does not own the given Builder.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessages'
        '404':
          description: 'No Builder with the given ID exists, or it has no materialized Selection.'
      parameters:
        - name: builderId
          in: path
          required: true
          description: 'The id of the Builder whose latest Selection should be measured.'
          schema:
            type: string
  /builders/{builderId}/zim:
    post:
      summary: 'Request a ZIM file for the latest Selection of a Builder from the Zimfarm.'
      operationId: builderCreateZim
      tags:
        - ZIM
      security:
        - sessionCookie: []
      responses:
        '204':
          description: 'ZIM file successfully requested from Zimfarm.'
        '400':
          description: 'The title or description was missing or invalid, the flavour was not recognized, scheduled_repetitions was malformed, or the Selection has too many articles.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessages'
        '401':
          description: 'Unauthorized. You must be logged in to request a ZIM file.'
        '403':
          description: 'Logged in user is not authorized to request ZIM for given Builder.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessages'
        '404':
          description: 'Builder not found with that id.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessages'
        '500':
          description: 'The Zimfarm rejected the request or was unreachable.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessages'
      parameters:
        - name: builderId
          in: path
          required: true
          description: 'The id of the Builder to request as ZIM file for.'
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - description
              properties:
                title:
                  type: string
                description:
                  type: string
                long_description:
                  type: string
                flavour:
                  type: string
                  description: 'The MediaWiki scraper flavour to use. Omit or leave empty for the default, full content.'
                  enum: ['mini', 'nopic', 'maxi']
                scheduled_repetitions:
                  type: object
                  description: 'When present, the ZIM file is regenerated on a recurring schedule. Omit, or send an empty object, for a one off ZIM file.'
                  required:
                    - repetition_period_in_months
                    - number_of_repetitions
                  properties:
                    repetition_period_in_months:
                      type: integer
                      description: 'The number of months between regenerations.'
                    number_of_repetitions:
                      type: integer
                      description: 'The total number of generations, including the one being requested now.'
                    email:
                      type: string
                      description: 'An optional address to notify when each scheduled ZIM file is ready. A confirmation email is sent to addresses that have not been confirmed before.'
  /builders/{builderId}/zim/status:
    get:
      summary: 'Get the status of the currently requested ZIM file for a Builder.'
      operationId: builderZimStatus
      tags:
        - ZIM
      responses:
        '200':
          description: 'Successful operation.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    nullable: true
                    description: 'One of: NOT_REQUESTED, REQUESTED, FILE_READY, CANCELLED, or FAILED. Null if the Builder has never had a ZIM file requested.'
                  error_url:
                    type: string
                    nullable: true
                    description: 'The URL of a resource on the Zimfarm that may provide more context for a failed ZIM.'
                  is_deleted:
                    type: boolean
                    nullable: true
                    description: 'True once the ZIM file is old enough that the Zimfarm has deleted it.'
                  title:
                    type: string
                    nullable: true
                  description:
                    type: string
                    nullable: true
                  long_description:
                    type: string
                    nullable: true
                  flavour:
                    type: string
                    nullable: true
                  active_schedule:
                    $ref: '#/components/schemas/ActiveSchedule'
      parameters:
        - name: builderId
          in: path
          required: true
          description: 'The id of the Builder to get the ZIM status for.'
          schema:
            type: string
  /builders/{builderId}/zim/latest:
    get:
      summary: 'Get the actual ZIM file for a Builder.'
      operationId: builderLatestZim
      tags:
        - ZIM
      responses:
        '302':
          description: 'Successful operation, redirect to the URL of the ZIM file.'
        '404':
          description: 'Builder or ZIM file not found.'
        '410':
          description: 'The ZIM file existed but has since been deleted from storage.'
      parameters:
        - name: builderId
          in: path
          required: true
          description: 'The id of the Builder to get the ZIM file for.'
          schema:
            type: string
  /builders/zim/status:
    post:
      summary: 'Webhook called by the Zimfarm when the status of a requested ZIM task changes.'
      description: 'This endpoint is not intended for general use. It is registered with the Zimfarm when a task is requested, and is authenticated with a shared secret in the token query parameter.'
      operationId: updateZimfarmStatus
      tags:
        - ZIM
      responses:
        '204':
          description: 'The status was recorded.'
        '400':
          description: 'The request body did not contain a task id.'
        '403':
          description: 'The token query parameter did not match the configured Zimfarm hook token.'
        '500':
          description: 'No ZIM schedule could be found for the given task id.'
      parameters:
        - name: token
          in: query
          required: true
          description: 'The shared secret configured for the Zimfarm webhook.'
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: 'The id of the Zimfarm task.'
                status:
                  type: string
                  description: 'The Zimfarm task status. The values "failed", "cancelled" and null all mark the ZIM file as FAILED.'
                files:
                  type: object
                  description: 'A mapping of file name to file info. A file whose name ends in ".zim" and whose status is "uploaded" marks the ZIM file as FILE_READY.'
                  additionalProperties:
                    type: object
                    properties:
                      status:
                        type: string
  /builders/{builderId}/schedule:
    delete:
      summary: 'Cancel the active recurring ZIM generation schedule for a Builder.'
      operationId: deleteBuilderSchedule
      tags:
        - ZIM
      security:
        - sessionCookie: []
      responses:
        '204':
          description: 'The schedule was deleted.'
        '401':
          description: 'Unauthorized. You must be logged in.'
        '403':
          description: 'The logged in user does not own the given Builder.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessages'
        '404':
          description: 'The Builder was not found, or it has no active recurring schedule.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessages'
        '500':
          description: 'The schedule could not be deleted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessages'
      parameters:
        - name: builderId
          in: path
          required: true
          description: 'The id of the Builder whose schedule should be cancelled.'
          schema:
            type: string
  /selection/lists:
    get:
      summary: 'Return list details from database'
      operationId: getLists
      tags:
        - Selections
      security:
        - sessionCookie: []
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  builders:
                    type: array
                    items:
                      $ref: '#/components/schemas/BuilderWithSelection'
        '401':
          description: 'Unauthorized. You must be logged in to list your Builders.'
  /selection/simple/lists:
    get:
      summary: 'Deprecated alias for /selection/lists'
      description: 'Deprecated: despite the name, this returns builders of every model, not just simple ones. Use /selection/lists instead.'
      operationId: getListsDeprecated
      tags:
        - Selections
      deprecated: true
      security:
        - sessionCookie: []
      responses:
        '200':
          description: 'Successful operation. See /selection/lists for the response schema.'
        '401':
          description: 'Unauthorized. You must be logged in to list your Builders.'
  /zim/confirm-email:
    get:
      summary: 'Confirm an email address for ZIM file generation notifications.'
      description: 'The link containing this URL is emailed to the address given when a recurring ZIM schedule is created. The response is an HTML page intended to be viewed in a browser, not JSON.'
      operationId: confirmZimEmail
      tags:
        - ZIM
      responses:
        '200':
          description: 'The email address was confirmed.'
          content:
            text/html:
              schema:
                type: string
        '400':
          description: 'The token parameter was missing, or the confirmation failed.'
          content:
            text/html:
              schema:
                type: string
        '404':
          description: 'The token is invalid, expired, or has already been used.'
          content:
            text/html:
              schema:
                type: string
      parameters:
        - name: token
          in: query
          required: true
          description: 'The confirmation token from the email.'
          schema:
            type: string
  /zim/unsubscribe-email:
    get:
      summary: 'Unsubscribe from ZIM file generation notifications, using a confirmation token.'
      description: 'The response is an HTML page intended to be viewed in a browser, not JSON.'
      operationId: unsubscribeZimEmail
      tags:
        - ZIM
      responses:
        '200':
          description: 'The email address was unsubscribed.'
          content:
            text/html:
              schema:
                type: string
        '400':
          description: 'The token parameter was missing, or the unsubscribe failed.'
          content:
            text/html:
              schema:
                type: string
        '404':
          description: 'The token is invalid, expired, or has already been used.'
          content:
            text/html:
              schema:
                type: string
      parameters:
        - name: token
          in: query
          required: true
          description: 'The token from the email.'
          schema:
            type: string
  /zim/unsubscribe-notification:
    get:
      summary: 'Unsubscribe from ZIM file generation notifications, using a schedule id.'
      description: 'The response is an HTML page intended to be viewed in a browser, not JSON.'
      operationId: unsubscribeZimNotification
      tags:
        - ZIM
      responses:
        '200':
          description: 'The email address was unsubscribed.'
          content:
            text/html:
              schema:
                type: string
        '400':
          description: 'The schedule_id parameter was missing, or the unsubscribe failed.'
          content:
            text/html:
              schema:
                type: string
        '404':
          description: 'No such schedule, or it has no email address subscribed.'
          content:
            text/html:
              schema:
                type: string
      parameters:
        - name: schedule_id
          in: query
          required: true
          description: 'The id of the ZIM schedule to unsubscribe from.'
          schema:
            type: string
  /oauth/initiate:
    get:
      summary: 'Begin the MediaWiki OAuth handshake.'
      operationId: oauthInitiate
      tags:
        - OAuth
      responses:
        '302':
          description: 'Redirect to Wikipedia to authorize the application, or straight back to the frontend if the user is already logged in.'
      parameters:
        - name: next
          in: query
          required: false
          description: 'A path on the frontend to return to once login completes.'
          schema:
            type: string
  /oauth/complete:
    get:
      summary: 'Complete the MediaWiki OAuth handshake and establish a session.'
      description: 'Wikipedia redirects the user here with the OAuth query parameters. On success, a session cookie is set and the user is redirected back to the frontend.'
      operationId: oauthComplete
      tags:
        - OAuth
      responses:
        '302':
          description: 'Successful login, redirect to the frontend.'
        '404':
          description: 'There is no OAuth handshake in progress for this session.'
      parameters:
        - name: oauth_token
          in: query
          required: true
          description: 'The request token, supplied by Wikipedia.'
          schema:
            type: string
        - name: oauth_verifier
          in: query
          required: true
          description: 'The verifier, supplied by Wikipedia.'
          schema:
            type: string
  /oauth/identify:
    get:
      summary: 'Get the username of the currently logged in user.'
      operationId: oauthIdentify
      tags:
        - OAuth
      security:
        - sessionCookie: []
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
        '401':
          description: 'Unauthorized. There is no logged in user.'
  /oauth/email:
    get:
      summary: 'Get the email address of the currently logged in user, if one is known.'
      operationId: oauthEmail
      tags:
        - OAuth
      security:
        - sessionCookie: []
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                    nullable: true
        '401':
          description: 'Unauthorized. There is no logged in user.'
  /oauth/logout:
    get:
      summary: 'Log out, clearing the user from the session.'
      operationId: oauthLogout
      tags:
        - OAuth
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: 'Always the string "204".'
        '404':
          description: 'There is no logged in user.'

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: session
      description: 'The session cookie set by /oauth/complete. Requests must be made with credentials included so that this cookie is sent.'
  schemas:
    ErrorMessages:
      type: object
      properties:
        error_messages:
          type: array
          description: 'Human readable messages describing what went wrong.'
          items:
            type: string
    NextUpdateTime:
      type: object
      properties:
        next_update_time:
          type: string
          nullable: true
          description: 'A string like "2024-05-05 17:30 UTC" representing when the next manual update can be performed, or null if an update can be performed now.'
    CategoryLinkMap:
      type: object
      description: 'Maps a category name such as "A-Class" either to a link object, or to a plain string when no link is possible and the string itself should be displayed.'
      additionalProperties:
        oneOf:
          - type: string
          - type: object
            properties:
              href:
                type: string
              text:
                type: string
    CreateOrUpdateListResponse:
      type: object
      properties:
        success:
          type: boolean
          description: True when article name does not contain forbidden chars {"#", "<", ">", "[", "]", "{", "}", "|"}, false otherwise.
        id:
          type: string
          description: The id of the created or updated Builder. Only present when success is true.
        items:
          type: object
          description: Empty in case of success being true
          properties:
            valid:
              type: array
              description: List of valid article names
              items:
                type: string
            invalid:
              type: array
              description: List of invalid article names
              items:
                type: string
            errors:
              type: array
              description: List of forbidden characters present in article names
              items:
                type: string
    BuilderSpec:
      type: object
      required:
        - model
        - name
        - project
        - params
      properties:
        model:
          type: string
          description: 'The Builder model that this builder corresponds to.'
        name:
          type: string
        project:
          type: string
        params:
          type: object
          description: 'The parameters of the Builder that are used to materialize the Selection. This varies depending on the model.'
        selection_errors:
          type: array
          description: 'Any errors that occurred while materializing the Builder, and whether they are retryable. Present on responses only.'
          items:
            type: object
            properties:
              error_messages:
                type: array
                description: 'The raw error messages returned from the API server'
                items:
                  type: string
              ext:
                type: string
                description: 'The extension for the selection for which materialization was attempted'
              status:
                type: string
                description: 'Either "CAN_RETRY" if the error is retryable, or "FAILED" if not'
              referenced_builder_errors:
                type: array
                description: 'For Combinators, details of each referenced Builder whose latest selection is broken. Present both when the Combinator build recorded the failures and when they are derived at read time from the current status of the referenced selections.'
                items:
                  type: object
                  properties:
                    builder_id:
                      type: string
                      nullable: true
                    builder_name:
                      type: string
                      nullable: true
                    builder_model:
                      type: string
                      nullable: true
                    message:
                      type: string
                    reason:
                      type: string
                    action:
                      type: string
                    status:
                      type: string
                      description: 'Either "CAN_RETRY" or "FAILED".'
                    code:
                      type: string
    ActiveSchedule:
      type: object
      nullable: true
      description: 'The recurring ZIM generation schedule for a Builder, or null if there is not one.'
      properties:
        schedule_id:
          type: string
        interval_months:
          type: integer
          description: 'The number of months between generations.'
        remaining_generations:
          type: integer
          description: 'How many generations are left on this schedule.'
        last_updated_at:
          type: string
          description: 'A timestamp in the wp10 format YYYYMMDDhhmmss.'
        next_generation_date:
          type: string
          nullable: true
          description: 'The date of the next generation, in YYYY-MM-DD format.'
        email:
          type: string
          nullable: true
          description: 'The address notified when each generation completes.'
    BuilderWithSelection:
      type: object
      description: 'A Builder with the data of its latest Selection and ZIM file destructured and included as well.'
      properties:
        id:
          type: string
        created_at:
          type: number
          description: 'Unix timestamp when the Builder was created.'
        updated_at:
          type: number
          description: 'Unix timestamp when the Builder was last updated.'
        name:
          type: string
        project:
          type: string
        model:
          type: string
        s_id:
          type: string
          nullable: true
          description: 'The id of the latest materialized selection of this content_type.'
        s_updated_at:
          type: number
          nullable: true
          description: 'Unix timestamp when the Selection was last updated.'
        s_content_type:
          type: string
          nullable: true
          description: 'MIME type of the content of this selection. A builder can have multiple selections with different content_types.'
        s_extension:
          type: string
          nullable: true
          description: 'The three letter extension that corresponds to the content type.'
        s_url:
          type: string
          nullable: true
          description: 'The URL for the data of this selection. This will likely be a redirect.'
        s_status:
          type: string
          nullable: true
          description: 'An enum-like value that is either null (there is no meaningful status to report), FAILED (building the selection failed permanently), or CAN_RETRY (building the selection failed but can be retried).'
        z_status:
          type: string
          nullable: true
          description: 'The status of the ZIM file for this Builder. One of NOT_REQUESTED, REQUESTED, FILE_READY, CANCELLED or FAILED, or null if the Builder has no Selection.'
        z_updated_at:
          type: number
          nullable: true
          description: 'Unix timestamp when the ZIM file was last updated.'
        z_url:
          type: string
          nullable: true
          description: 'The URL for downloading the ZIM file. Only set once the file is ready.'
        z_is_deleted:
          type: boolean
          nullable: true
          description: 'True once the ZIM file is old enough that the Zimfarm has deleted it.'
        active_schedule:
          type: boolean
          nullable: true
          description: 'True if this Builder has a recurring ZIM generation schedule with generations remaining, null otherwise. See /builders/{builderId}/zim/status for the details of that schedule.'
        has_failed_references:
          type: boolean
          description: 'For Combinators, true when the latest TSV selection of any referenced Builder (include or exclude) is FAILED or CAN_RETRY, so the Combinator needs attention even if its own cached selection is still OK. Always false for non-Combinator Builders.'
    Project:
      type: object
      properties:
        name:
          type: string
        last_updated:
          type: string
          description: 'The last time the project was updated, in the date format YYYYMMDDhhmmss. So, year month day, hour minute second'
    Article:
      type: object
      properties:
        article:
          type: string
          description: 'The name of the article, as it appears on Wikipedia, with its namespace prefix included'
        article_talk:
          type: string
          description: 'The name of the article, with the appropriate talk namespace prepended'
        article_link:
          type: string
          description: 'A link to the article on Wikipedia'
        article_talk_link:
          type: string
          description: 'A link to the talk page of the article on Wikipedia'
        article_history_link:
          type: string
          description: 'A link to the history listing of the article on Wikipedia'
        importance:
          type: string
          description: 'The importance class of the article'
        quality:
          type: string
          description: 'The quality class of the article'
        importance_updated:
          type: string
          format: date
          nullable: true
          description: 'The date on which the article importance classification was updated, the format is 2020-01-30T15:55:55Z'
        quality_updated:
          type: string
          format: date
          nullable: true
          description: 'The date on which the article quality classification was updated, the format is 2020-01-30T15:55:55Z'
