<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="#{recovery.password.change.title}"></title>
    <head th:insert="~{fragments/include}"/>
</head>
<body class="login">
<div th:insert="~{fragments/header}"/>
<br/><br/>
<br/><br/>
<br/><br/>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="portlet portlet-green">
                <div class="portlet-body">
                    <form th:action="@{/recovery/change}" th:object="${changePasswordCommand}" method='POST'
                          id='loginForm' class='cssform' autocomplete='off'>
                        <fieldset>
                            <label for="password"><h4 th:text="#{login.password}"/></label>
                            <input type="password" name='password' class="form-control" placeholder="password"
                                   id='password'/>
                            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
                            <br/>
                            <label for="passwordConfirmation"><h4 th:text="#{login.passwordConfirmation}"/></label>
                            <input type="password" name='passwordConfirmation' class="form-control"
                                   placeholder="password confirmation" id='passwordConfirmation'/>
                            <label th:if="${#fields.hasErrors('passwordConfirmation')}"
                                   th:errors="*{passwordConfirmation}"></label>
                            <input type="hidden" th:value="*{token}" name="token" id="token"/>
                            <br/><br/>
                            <button id="btn-success" type="submit" class="btn btn-lg btn-primary btn-block"><h5
                                    th:text="#{button.submit}"/></button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div th:insert="~{fragments/footer}"/>
</body>
</html>

