<!DOCTYPE html>
<html>
<head>
  <title>Wikipedia 1.0 Server</title>
</head>
<body>
  <h1>Wikipedia 1.0 Server</h1>
  <p>
    There are currently {{count}} projects being tracked and updated each day.
  </p>
</body>
</html>
