<!DOCTYPE html>
<html>
<head>
  <title>Wikipedia 1.0 Server</title>
</head>
<body>
  <h1>Wikipedia 1.0 Server</h1>
  <p>
    There are currently {{count}} projects being tracked and updated each day.
  </p>
  <p>
    For more information, see the description of the
    <a href="https://en.wikipedia.org/wiki/Wikipedia:Version_1.0_Editorial_Team">
      WP 1.0 project</a> and the
    <a href="https://en.wikipedia.org/wiki/User:WP_1.0_bot">WP 1.0 bot</a> on
    English Wikipedia.
  </p>
</body>
</html>
