.card-header {
  background-color: transparent;
  border: none;
}

.card {
  border: none;
}

.card-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
}
