.Top {
  background: #ff97ff;
}

.High {
  background: #ffacff;
}

.Mid {
  background: #ffc1ff;
}

.Low {
  background: #ffd6ff;
}

.FA {
  background: #9cbdff;
}

.GA {
  background: #66ff66;
}

.B {
  background: #b2ff66;
}

.C {
  background: #ffff66;
}

.Start {
  background: #ffaa66;
}

.Stub {
  background: #ffa4a4;
}

.List {
  background: #c7b1ff;
}

.Category {
  background: #ffdb58;
}

.Disambig {
  background: #00fa9a;
}

.File {
  background: #ddccff;
}

.Project {
  background: #c0c090;
}

.Redirect {
  background: #c0c0c0;
}

.Template {
  background: #fbceb1;
}
