{% macro revs(art, action) -%}
   <span style=\"white-space: nowrap;\">({{revlink(art, action)}} &middot; {{talklink(art, action)}})</span>
{%- endmacro %}

{% macro revlink(art, action) -%}
   [https://en.wikipedia.org/w/index.php??title={{name[art]|urlencode}}&oldid={{revid[art][action]|urlencode}} rev]
{%- endmacro %}

{% macro talklink(art, action) -%}
   [https://en.wikipedia.org/w/index.php??title={{talk[art]|urlencode}}&oldid={{talk_revid[art][action]|urlencode}} t]
{%- endmacro %}

{% macro quality(art) -%}
   {% if l[art]['quality'].l_old.decode('utf-8') == 'NotA-Class' -%}
     Quality assessed as '''{{l[art]['quality'].l_new.decode('utf-8')}}'''.
   {%- else -%}
     Quality rating changed from '''{{l[art]['quality'].l_old.decode('utf-8')}}''' to '''{{l[art]['quality'].l_new.decode('utf-8')}}'''.
   {%- endif %}
{%- endmacro %}

{% macro importance(art) -%}
   {% if l[art]['importance'].l_old.decode('utf-8') == 'NotA-Class' -%}
     Importance assessed as '''{{l[art]['importance'].l_new.decode('utf-8')}}'''.
   {%- else -%}
     Importance rating changed from '''{{l[art]['importance'].l_old.decode('utf-8')}}''' to '''{{l[art]['importance'].l_new.decode('utf-8')}}'''.
   {%- endif %}
{%- endmacro %}

{% macro quality_and_importance(art) -%}
  {%- if l[art]['quality'] -%}
    {{ ' ' }}{{quality(art)}} {{revs(art, 'quality')}}
  {%- endif -%}
  {%- if l[art]['importance'] -%}
    {{ ' ' }}{{importance(art)}} {{revs(art, 'importance')}}
  {%- endif -%}
{% endmacro %}

{% macro quality_and_importance_removed(art) -%}
  {%- if l[art]['quality'] -%}
     Quality rating was '''{{l[art]['quality'].l_old.decode('utf-8')}}'''. {{revs(art, 'quality')}}
    {%- endif -%}
  {%- if l[art]['importance'] -%}
     Importance rating was '''{{l[art]['importance'].l_old.decode('utf-8')}}'''. {{revs(art, 'importacne')}}. {{revs(art, 'importance')}}
  {%- endif -%}
{% endmacro %}