# Database credentials for the wikipedia replica database.
WIKI_CREDS = {
  'user': 'someuser',
  'password': 'somepass',
  'host': 'enwiki.analytics.db.svc.eqiad.wmflabs',
  'db': 'enwiki_p',
}

# Database credentials for the wp10 project/application database.
WP10_CREDS = {
  'user': 'someuser',
  'password': 'somepass',
  'host': 'tools.db.svc.eqiad.wmflabs',
  'db': 's51114_enwp10',
}

# WMF wiki oauth credentials
API_CREDS = {
  'CONSUMER_TOKEN': 'some_consumer_token',
  'CONSUMER_SECRET': 'some_consumer_secret',
  'ACCESS_TOKEN': 'some_access_token',
  'ACCESS_SECRET': 'some_access_secret',
}
