# Copy this file to credentials.py (in the same directory). Your application
# database should work immediately after you run:
# $ docker-compose -f docker-compose-dev.yml -d
# in the root directory. The Wiki replica database requires actual toolforge
# credentials to be accessible.

from wp1.environment import Environment

ENV = Environment.DEVELOPMENT

CREDENTIALS = {
    Environment.DEVELOPMENT: {
        # Database credentials for the wikipedia replica database.
        # For development, you can use your toolforge credentials and connect
        # to a live replica via an SSH tunnel, as outlined here:
        # https://wikitech.wikimedia.org/wiki/Help:Toolforge/Database#Connecting_to_the_database_replicas_from_your_own_computer
        # The 'local port' you use, 4711 in the example, will correspond to the
        # port you set below.
        'WIKIDB': {
            'user': 'yourtoolforgeuser', # EDIT this line
            'password': 'yourtoolforgepass', # EDIT this line
            'host': 'localhost',
            'port': 4711,
            'db': 'enwiki_p',
        },

        # Database credentials for the enwp10 project/application database.
        # For development, use the docker-compose-dev.yml file and spin up a
        # local database that has some (potentially out of date) data in it.
        'WP10DB': {
            'user': 'root',
            'password': 'wikipedia',
            'host': 'localhost',
            'port': 6300,
            'db': 'enwp10_dev',
        },

        # Credentials for connecting to Redis. In deveoplment, this is also
        # run as a docker-compose service.
        'REDIS': {
            'host': 'localhost',
            'port': 9736,
        },

        # WMF wiki OAuth credentials. Used to edit English Wikipedia.
        # These don't exist in development.
        'API': {}
    },

    # EDIT: Remove the next line after you've provided actual credentials.
    Environment.PRODUCTION: {}

    # Example production config. Edit the indicated lines to provide credentials.
    # When you're done, remove the empty Environment.PRODUCTION key above.
    # Environment.PRODUCTION: {
    #   # Database credentials for the wikipedia replica database.
    #   'WIKIDB': {
    #     'user': 'someuser', # EDIT this line for production.
    #     'password': 'somepass', # EDIT this line for production.
    #     'host': 'enwiki.analytics.db.svc.eqiad.wmflabs',
    #     'db': 'enwiki_p',
    #   },

    #   # Database credentials for the enwp10 project/application database.
    #   'WP10DB': {
    #     'user': 'someuser', # EDIT this line for production.
    #     'password': 'somepass', # EDIT this line for production.
    #     'host': 'tools.db.svc.eqiad.wmflabs',
    #     'db': 's51114_enwp10',
    #   },

    #   # Credentials for connecting to Redis. In production, this is part of
    #   # the production docker-compose and has hostname 'redis'.
    #   'REDIS': {
    #       'host': 'redis',
    #   }

    #   # WMF wiki oauth credentials. Used to edit English Wikipedia.
    #   'API': {
    #     'user': 'WP 1.0 bot@WP_1.0_bot',
    #     'pass': 'somepass', # EDIT this line for production.
    #   }
    # }
}
