{% macro format(value, project=None, quality=None, importance=None) -%}
  {%- if create_link -%}
    {%- call bold(quality, importance) -%}
      [{{LIST_URL}}?run=yes
      {%- if project %}&projecta={{project.decode('utf-8')|urlencode}}{% endif -%}
      {%- if importance %}&importance={{importance.decode('utf-8')|urlencode}}{% endif -%}
      {%- if quality %}&quality={{quality.decode('utf-8')|urlencode}}{% endif %} {{ value|commas }}]
    {%- endcall -%}
  {%- else -%}
    {%- call bold(quality, importance) %}{{ value|commas }}{% endcall -%}
  {%- endif -%}
{%- endmacro %}

{% macro bold(quality, importance) -%}
  {% if not quality or not importance -%}
    '''{{ caller() }}'''
  {%- else -%}
    {{ caller() }}
  {%- endif -%}
{%- endmacro %}